<section class="categories">
  <div class="cont-categor">
    <h2 class="title-exercise">Exercises</h2>
    <ul class="list-categories">
      <li class="item">
        <button
          id="bodyPartsFilterButton"
          data-cgid="Body parts"
          class="btn-categories"
        >
          Body parts
        </button>
      </li>
      <li class="item">
        <button data-cgid="Muscles" class="btn-categories">Muscles</button>
      </li>
      <li class="item">
        <button data-cgid="Equipment" class="btn-categories">Equipment</button>
      </li>
    </ul>
  </div>
  <div class="container-for-images js-container-for-images"></div>
</section>
