<section class="categories">
  <div class="cont-categor">
    <h2 class="title-exercise">Exercises</h2>
    <ul class="list-categories">
      <li class="item">
        <button
          id="bodyPartsFilterButton"
          data-cgid="Body parts"
          class="btn-categories current"
        >
          Body parts
        </button>
      </li>
      <li class="item">
        <button data-cgid="Muscles" class="btn-categories">Muscles</button>
      </li>
      <li class="item">
        <button data-cgid="Equipment" class="btn-categories">Equipment</button>
      </li>
    </ul>
  </div>
  <div class="container-for-images js-container-for-images"></div>
  <ul class="btn-number-page">
    <li><button class="btn-number" data-numpage="1">1</button></li>
    <li><button class="btn-number" data-numpage="2">2</button></li>
    <li><button class="btn-number" data-numpage="3">3</button></li>
  </ul>

  <!-- Exercises -->
  <div class="exercise-for-category">
    <h2 class="title-exercise">Exercises/<span id="category"></span></h2>
    <div class="input-search">
      <input
        class="search-input"
        type="text"
        id="searchInput"
        placeholder="Search..."
      />
      <!-- Search button -->
      <button class="search-button">Search</button>
    </div>

    <ul class="list-categories">
      <li class="item">
        <button data-exid="Body parts" class="btn-exercise">Body parts</button>
      </li>
      <li class="item">
        <button data-exid="Muscles" class="btn-exercise">Muscles</button>
      </li>
      <li class="item">
        <button data-exid="Equipment" class="btn-exercise">Equipment</button>
      </li>
    </ul>
    <div class="exercise-card"></div>
    <ul class="btn-number-page">
      <li><button class="btn-number-exercise" data-numpage="1">1</button></li>
      <li><button class="btn-number-exercise" data-numpage="2">2</button></li>
      <li><button class="btn-number-exercise" data-numpage="3">3</button></li>
    </ul>
  </div>
</section>
