<section class="exercises exercises-container">
  <ul class="exercises-favorites">
    <li class="exercise-favor">
      <div class="top">
        <button type="button" class="btn-workout"></button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        ></svg>
        <button type="button" class="btn-start"></button>
      </div>
      <h5 class="title-exercise"></h5>
      <div class="achive">
        <p class="info-item"></p>
        <p class="info-item"></p>
        <p class="info-item"></p>
      </div>
    </li>
  </ul>
</section>
