<footer class="footer" id="footer">
    <div class="container-footer">
        <div class="footer-tabl">
            <div class="footer-flex-container">
                <div class="foot">
                    <div class="footer-top">
                        <a class="footer-icon-logo" href="#">
                            <svg class="footer-icon-svg" width="132" height="24">
                                <use href="./img/symbol-defs-footer.svg#icon-logo-footer"></use>
                            </svg>
                        </a>
                    </div>
                    <div>
                        <ul class="footer-social">
                            <li class="footer-soc-li">
                                <a class="footer-svg" href="https://www.facebook.com/goITclub/ " target="_blank">
                                    <svg class="footer-icon" width="24" height="24">
                                        <use href="./img/symbol-defs-footer.svg#icon-facebook-footer"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-soc-li">
                                <a class="footer-svg" href="https://www.instagram.com/goitclub/" target="_blank">
                                    <svg class="footer-icon" width="24" height="24">
                                        <use href="./img/symbol-defs-footer.svg#icon-instagram-footer"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-soc-li">
                                <a class="footer-svg" href="https://www.youtube.com/c/GoIT" target="_blank">
                                    <svg class="footer-icon" width="24" height="24">
                                        <use href="./img/symbol-defs-footer.svg#icon-youtube-footer"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-footer">
                    <div class="footer-tabl">
                        <div class="footer-content">
                            <div class="title-footer">
                                <h1 class="title-foot">
                                    Transforming your <span class="span-title">body</span> shape with us
                                </h1>
                            </div>
                            <div class="feedback">
                                <p class="feedback-p">Subscribe and learn about new exercises!</p>
                                <form class="feedback-form" autocomplete="off">
                                    <label>
                                        <input type="email" class="email" name="email" placeholder="Email"
                                            id="emailInput" autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                                            required />
                                    </label>
                                </form>
                                <button type="submit" class="submit-button">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/footer.js"></script>
        <div class="info-footer">
            <div class="left">
                <p>Your Energy. All rights reserved.</p>
            </div>
            <div class="right">
                <p>Privacy Policy / Terms of Service</p>
            </div>
            <div class="c-footer">
                <p>©2023</p>
            </div>
        </div>
    </div>
</footer>