<footer class="footer" id="footer">
    <div class="container-footer">
        <div class="foot">
            <div class="footer-top">
                <a class="footer-icon-logo" href="#">
                    <svg class="footer-icon-svg" width="132" height="24">
                        <use href="../img/symbol-defs-footer.svg#icon-logofooter"></use>
                    </svg>
                </a>
            </div>
            <div>
                <ul class="footer-social">
                    <li class="footer-soc-li">
                        <a class="footer-svg" href="https://www.facebook.com/goITclub/ " target="_blank">
                            <svg class="footer-icon" width="40" height="40">
                                <use href="../img/symbol-defs-footer.svg#icon-facebookfooter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-soc-li">
                        <a class="footer-svg" href="https://www.instagram.com/goitclub/" target="_blank">
                            <svg class="footer-icon" width="40" height="40">
                                <use href="../img/symbol-defs-footer.svg#icon-instagramfooter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-soc-li">
                        <a class="footer-svg" href="https://www.youtube.com/c/GoIT" target="_blank">
                            <svg class="footer-icon" width="40" height="40">
                                <use href="../img/symbol-defs-footer.svg#icon-youtubefooter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="title">
            <h1>
                Transforming your <span class="span-title">body</span> shape with us
            </h1>
        </div>
        <div class="feedback">
            <p class="feedback-p">Subscribe and learn about new exercises!</p>
            <form class="feedback-form" autocomplete="off">
                <label>
                    <input type="email" class="email" name="email" placeholder="Email" id="emailInput" autofocus />
                </label>
            </form>
            <button type="submit" class="submit-button">Send</button>
        </div>

        <script src="../js/footer.js"></script>
        <div class="left">
            <p>Your Energy. All rights reserved.</p>
            <p>Privacy Policy / Terms of Service</p>
        </div>
        <div class="right">
            <p>©2023</p>
        </div>
    </div>
</footer>