<header class="header">
  <div class="header-container">
    <nav class="navigator">
      <div class="logo-img">
        <a class="header-icon-logo" href="#">
          <svg class="header-icon-svg" width="132" height="24">
            <use href="../img/icon-header.svg#icon-headerlogo"></use>
          </svg>
        </a>
      </div>
      <ul class="nav-list">
        <li class="nav-list-item item-home">
          <a href="../index.html">Home</a>
        </li>
        <li class="nav-list-item item-favorite">
          <a href="../favorites.html">Favorites</a>
        </li>
      </ul>
      <div>
        <ul class="soc-list">
          <li class="soc-list-item">
            <a
              class="header-soc-icon"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="header-soc-icon-svg" width="40" height="40">
                <use href="../img/icon-header.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="soc-list-item">
            <a
              class="header-soc-icon"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="header-soc-icon-svg" width="40" height="40">
                <use href="../img/icon-header.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="soc-list-item">
            <a
              class="header-soc-icon"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="header-soc-icon-svg" width="40" height="40">
                <use href="../img/icon-header.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="mobi-menu-container">
        <a class="mobi-menu-icon" href="#">
          <svg class="mobi-menu-icon-svg" width="32" height="32">
            <use href="../img/icon-header.svg#icon-mobi-menu-icon"></use>
          </svg>
        </a>
      </div>
    </nav>
  </div>
</header>
