<div class="modal-exercise">
<div class="container">
    <button id="openModalBtn" class="openModalBtn">Open</button>
    <button id="closeModalBtn" class="closeModalBtn">X</button>
    <div class="modal" id="outerModal">
        <div class="modal-content">
            <div class="exercise">
                <!-- exercise go here -->
            </div>

            <button type="button" class="add-favorite">Add to favorites</button>
            <button type="button" class="give-rating">Give a rating</button>
        </div>
    </div>
</div>
</div>
<script src="./js/modal-exercise.js" type="module"></script>