<!-- Це потім видалити, дані для тестування модалки вправи -->
<ul class="ex-list">
  <li class="js-workout-card" data-id="64f389465ae26083f39b17a2">
    <button class="openModalBtn" data-modal-open>Відкрити модальне вікно</button>
  </li>
</ul>

<div class="modal is-hidden" id="outerModal">
  <div class="modal-content container-modal">
    <button class="modal-x-button" id="closeModalBtn" type="button">
      <svg class="button_icon" width="18" height="18">
        <use href="./img/javascript.svg#icon-close-black-18dp-2-1" />
      </svg>
    </button>
    <div class="modal-describtion-container">
        <img class="exercise-list__img" src="" alt="exercise example" />
      <div class="modal-text-container">
        <h3 class="exercise-list__title"></h3>
        <div class="modal-rating">
          <span class="modal-rating-value">4</span>
        </div>
        <div class="modal-description-block">
          <li>
            <p class="line"></p>
          </li>
          <ul class="modal-description-block-items">
            <li>
              <h4 class="title-modal">Target</h4>
              <p class="start-target"></p>
            </li>
            <li>
              <h4 class="title-modal">Body Part</h4>
              <p class="start-body"></p>
            </li>
            <li>
              <h4 class="title-modal">Equipment</h4>
              <p class="start-equipment"></p>
            </li>
            <li>
              <h4 class="title-modal">Popular</h4>
              <p class="start-popular"></p>
            </li>
            <li>
              <h4 class="title-modal">Burned Calories</h4>
              <p class="start-burned"></p>
            </li>

          </ul>
          <p class="line"></p>
          <p class="description">
            <span class="modal-description-text">
              text-text-text
            </span>
          </p>
      </div>
      </div>
      </div>
    <button type="button" class="add-favorite is-hidden">Add to favorites<span>
        <svg class="add-favorite-svg">
          <use href="./img/javascript.svg#icon-heart"></use>
        </svg>
      </span>
    </button>
  <button type="button" class="give-rating" id="openRatingModalBtn">Give Rating</button>
      <div class="exercise-modal-button-card_remove is-hidden"> <button type="button" class="exercise-modal-button__remove">
          Remove from favorites
          <span>
            <svg class="exercise-modal-button__remove-icon">
              <use href="./img/icons.svg#icon-trash" width="18" height="18"></use>
            </svg>
          </span>
        </button>
        </div>

  </div>
  </div>
  
