<div class="quote">
  <div class="quote-block">
    <div class="quote-block-markup">
      <svg class="quote-icon-runner" width="34" heigt="32">
        <use href="./img/icons.svg#icon-runner"></use>
      </svg>
      <h3 class="quote-text">Quote of the day</h3>
      <svg class="quote-icon-quotes" width="20" heigt="20">
        <use href="./img/icons.svg#icon-quotes"></use>
      </svg>
    </div>
    <div class="js-quote"></div>
  </div>

  <div class="quote-imeges"></div>

  <div class="quote-info-block">
    <div class="quote-info-icon">
      <svg class="icon-dumbbell" width="20" heigt="20">
        <use href="./img/icons.svg#icon-dumbbell"></use>
      </svg>
    </div>
    <div class="quote-info-text">
      <h3 class="quote-info-title">110 min</h3>
      <p class="quote-info-content">Daily norm of sports</p>
      <p class="quote-content-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>

  <div class="quote-imeges-favorites"></div>
</div>

