.categories {
    border: 1px solid red;
    padding-left: 32px;
    padding-right: 32px;
}

.cont-categor {
    display: flex;
    align-items: center;
}

.title-exercise {
    color: #242424;

    font-family: Neue Montreal;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    /* 109.091% */
    letter-spacing: -0.055rem;
}

.list-categories {
    display: flex;
    margin-left: auto;
}

.list-categories li {
    margin-right: 20px;
}

.list-categories li:last-child {
    margin-right: 0px;
}

.btn-categories {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
}

.btn-categories.current {
    color: #242424;
    border-bottom: 4px solid #242424;
}

.btn-number-page {
    display: flex;
    bottom: 0;
    margin-left: 59%;
    list-style: none;
    display: flex;
    padding: 0;

}

.btn-number-page li {

    margin-left: 8px;
}

.btn-number-page button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
}



.container-for-images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.gallery__item {
    position: relative;
    width: 30%;
    /* Ширина кожного зображення */
    margin-right: 15px;
    margin-bottom: 32px;
    /* Міжзображення в рядку */
    box-sizing: border-box;
    /* Ураховується padding та border у ширині */

}



.gallery__image {
    border-radius: 0.75rem;
    background: linear-gradient(0deg, rgba(17, 17, 17, 0.50) 0%, rgba(17, 17, 17, 0.50) 100%), url(<path-to-image>), lightgray -48.64px -1px / 130.862% 101.24% no-repeat;
}

.text-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.text-category .textImage {
    color: #F4F4F4;

    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Neue Montreal;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 100% */
}

.text-category .filterImage {
    color: rgba(244, 244, 244, 0.40);

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Neue Montreal;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    /* 150% */
}

.gallery__link {
    border-radius: 0.75rem;
    border-radius: 0.75rem;
    background: linear-gradient(0deg, rgba(17, 17, 17, 0.50) 0%, rgba(17, 17, 17, 0.50) 100%), url(imgURL), lightgray -91.949px 0px / 160.73% 100.413% no-repeat;
}

@media screen and (min-width:1280px) {
    .container-for-images {
        max-width: 900px;
        margin-left: auto;
        margin-top: 42px;
    }

    .gallery__image {
        max-width: 290px;
    }
}

.exercise-for-category {
    display: none;
}