.categories {
    border: 1px solid red;
    padding-left: 32px;
    padding-right: 32px;
}

.cont-categor {
    display: flex;
    align-items: center;
}

.title-exercise {
    color: #242424;

    font-family: Neue Montreal;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    /* 109.091% */
    letter-spacing: -0.055rem;
}

.list-categories {
    display: flex;
    margin-left: auto;
}

.list-categories li {
    margin-right: 20px;
}

.list-categories li:last-child {
    margin-right: 0px;
}

.btn-categories {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
}

.btn-categories:active {
    text-decoration: underline;
}



.container-for-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.gallery__item {
    width: 30%;
    /* Ширина кожного зображення */
    margin-bottom: 10px;
    /* Міжзображення в рядку */
    box-sizing: border-box;
    /* Ураховується padding та border у ширині */


}

.gallery__link {
    border-radius: 0.75rem;
    background: linear-gradient(0deg, rgba(17, 17, 17, 0.50) 0%, rgba(17, 17, 17, 0.50) 100%), url(<path-to-image>), lightgray -42.462px 0px / 126.601% 100% no-repeat;
}

@media screen and (min-width:1280px) {
    .container-for-images {
        max-width: 900px;
        margin-left: auto;
        margin-top: 42px;
    }
}