.container-filter-exercise {
    display: flex;
    text-align: center;
}

.search-widget {
    margin-left: auto;
}

.list-filter-exercise {
    display: flex;
    margin-left: auto;
}




/* dhsjhd */


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
}

/* Modal Content */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
}

/* Close button */
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}