footer {
    background-color: #242424;
    padding-top: 40px;
    padding-bottom: 20px;
}

.container-footer {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 335px;
}

.footer-social {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 40px;
    gap: 12px;
}

.footer-svg{
transition: all 0.3s ease;
color: #f4f4f4;

}

.footer-svg:hover{
  color: #242424;
}
.footer-icon {
  transition: background-color var(--transition), opacity var(--transition);
  border-radius: 6px;
  border: 1px solid rgba(244, 244, 244, 0.10);
  width: 44px;
  height: 44px;
  padding: 8px;
}





.footer-link {
    text-decoration: none;
}

.title-footer {
    margin-bottom: 20px;
    max-width: 335px;
  }

  .title-foot{
  /* font-family: Neue Montreal; */
  color: #F4F4F4;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: -0.8px;
  line-height: 48px;
}

.span-title{
  font-style: italic;
}

.feedback-p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #F4F4F4;
    font-family: Neue Montreal;
}

.email {
    margin-bottom: 20px;
    background: #242424;
    display: flex;
    max-width: 100%;
    width: 100%;
    padding: 12px 12px 12px 14px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #F4F4F4;
    color: #F4F4F4;
}

.submit-button {
    margin-bottom: 100px;
    display: flex;
    max-width: 335px;
    width: 100%;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    background: #F4F4F4;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.submit-button:hover{
  background-color: transparent;
  color: #F4F4F4;;
}


.info-footer{
  color: #C6CDD1;
  font-family: Neue Montreal;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.left {

    color: #C6CDD1;
}

.right {
    color: #C6CDD1;
}
.right-span{
  padding: 0 8px;
}

.p-info-foot {
    display: flex;
    justify-content: space-between;
}

.c-footer {
    color: #C6CDD1;
}

/* 768PX */

@media screen and (min-width: 768px) {

    .container-footer {
        min-width: 768px;
    }

    .footer-flex-container{
      display: flex;
      flex-wrap: wrap;
    }

    .footer-social{
      padding: 0;
      margin-top: 32px;
    }

    .foot {
      max-width: 156px;
    }

    .title-footer {
      margin-left: 100px;
      margin-bottom: 0;
      min-width: 450px;
    }

    .title-foot{
      line-height: 60px;
      letter-spacing: -1.12px;
      font-size: 56px;
    }

    .content-footer{
      margin-top: 32px;
      margin-left: 256px;
    }

    .feedback-p{
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -1.12px;
    }


    .email {
        max-width: 350px;
        width: 350px;
    }

    .submit-button {
        min-width: 350px;
    }

    .info-footer {
        display: flex;
        align-items: center;
    }

    .p-info-foot {
        gap: 208px;
    }

    .right{
      margin-left: 78px;
    }
    .c-footer {
        color: #C6CDD1;
    }
}

/* 1280PX */
  @media screen and (min-width: 1280px){
    .container-footer{
      max-width: 1250px;
    }

    .content-footer{
      margin: 0;
    }

    .footer-flex-container {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      .right {
          margin-left: 150px;
        }

      .p-info-foot {
              gap: 320px;
            }
  }


/* 1440PX */
@media screen and (min-width: 1440px) {
  .footer{
    padding: 0;
  }
    .container-footer {
        max-width: 1408px;
        padding: 64px 32px 32px 32px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer-flex-container{
      flex-wrap: nowrap;
      gap: 158px;
    }

    .content-footer{
      margin: 0;
    }

    .title-feedback-container {
        display: flex;
        align-items: center;
    }

    .title-foot{
      font-size: 55px;
    }

    .title-footer {
        margin: 0;
        max-width: 100%;
        max-width: 555px;
    }

    .feedback {
        width: 350px;
    }

    .feedback-p {
      margin-bottom: 20px;
    }

    .info-footer {
        display: flex;
    }

    .left {
        margin: 0;
    }

    .right{
      margin: 0;
    }

    .p-info-foot {
      margin-left: 136px;
      justify-content: space-between;
      gap: 515px;
    }
}