.hero {
}

.hero-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 80px 20px 40px 20px;
}

.hero-small-image {
    display: none;
}

.hero-icon {}

.hero-title {

    color: #242424;
    font-family: 'Neue Montreal', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.8px;
    margin-bottom: 20px;

}

.hero-span {
    color: #242424;
    font-family: Neue Montreal;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.8px;
}

.hero-text {
    color: #242424;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin-bottom: 40px;
}

.hero-image {
    background-image: url(../img/women-sportswear-working-mobile.jpg);
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 450px;
    margin-bottom: 20px;
}

.hero-tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
}

.hero-tags-item {
    color: #242424;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    border-radius: 30px;
    border: 1px solid #242424;

    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


@media screen and (min-width: 375px) and (max-width: 767px) {
    .header-container {
        max-width: 375px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .header-container {
        max-width: 768px;
        padding: 100px 32px 64px 32px;
    }

    .hero-image {
        background-image: url(../img/women-sportswear-working-tablet.jpg);
        border-radius: 60px;
        height: 550px;
    }

    .hero-title {
        width: 593px;
        font-size: 74px;
        line-height: 74px;
        letter-spacing: -1.48px;
    }

    .hero-span {
        font-size: 74px;
        line-height: 74px;
        letter-spacing: -1.48px;
    }

    .hero-text {
    margin-bottom: 32px;
    width: 528px;
    }

    .hero-tags {
        justify-content: right;
        gap: 8px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-container {
        max-width: 1280px;
        padding: 100px 32px 64px 32px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hero-title {
        font-size: 74px;
        line-height: 74px;
        letter-spacing: -1.48px;
        margin-right: 477px;
    }

    .hero-span {
        font-size: 74px;
        line-height: 74px;
        letter-spacing: -1.48px;
    }

    .hero-small-image {
        display: inline-block;
        width: 168px;
        height: 100px;
    }

    .hero-text {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.36px;
    }

    .hero-image {
        background-image: url(../img/women-sportswear-working-desktop.jpg);
        border-radius: 60px;
        height: 350px;

         display: flex;
            width: 1376px;
            justify-content: center;
            align-items: center;
    }

    .hero-tags {
        display: flex;
        flex-direction: column;
    }

    .hero-tags-item {
        display: flex;
        padding: 4px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}