
.container-modal {
    max-width: 335px;
    border-radius: 20px;
    background: #242424;
    padding-top: 14px;


}

.modal {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
  
    
}

/* Відкрите модальне вікно */
.modal.is-open {
    display: block;
    opacity: 1;
    z-index:105;
    background: rgba(0, 0, 0, 0.8);
}



ul,
li {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.is-hidden {
    display: none;
}

.exercise-list__img {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 40px;

}

.exercise-list__title {
    color: #F4F4F4;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-left: 20px;
}

.title-modal{
    color: rgba(244, 244, 244, 0.40);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Neue Montreal;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        
}
.start-target{
    color: #F4F4F4;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Neue Montreal;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.yellow-star {
    width: 18px;
    height: 18px;
    background-color: hsla(40, 90%, 49%, 1);
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
            box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
        


}

.half-filled-star {
    width: 18px;
    height: 18px;
    background-color: hsla(40, 90%, 49%, 1);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.gray-star {
    background-color: hsla(0, 0%, 96%, 0.2);
    width: 18px;
    height: 18px;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
            box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.7);


}
.line {
    height: 2px;
    background-color: rgba(244, 244, 244, 0.20);
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
}

.modal-description-block-items{
display:flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
   

}
.start-body,.start-burned,.start-target,.start-equipment,.start-popular{
color: #F4F4F4;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}



.rating_value  {
    padding-top: 8px;
    padding-left: 20px;
    display: flex;
    gap: 8px;
}

.rating_value span {
    color: #F4F4F4;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Neue Montreal;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.description{
padding-right: 20px;
padding-bottom: 40px;
padding-left: 20px;
}
.description span {
    color: rgba(244, 244, 244, 0.60);
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    
   
}

.add-favorite {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #F4F4F4;
    margin-right: 6px;
    margin-bottom: 20px;
    color: #242424;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-left: 20px;

}

.add-favorite:hover,
.add-favorite:focus {
    background: #242424;
    background-color: transparent;
    margin-right: 6px;
    color: #F4F4F4;
   
}

.add-favorite-svg:hover,
.add-favorite-svg:focus {
    width: 18px;
    height: 18px;
    stroke: red;
    fill: red;
   

}


.add-favorite span {
    display: block;
    width: 18px;
    height: 18px;
}

.add-favorite-svg {
    width: 18px;
    height: 18px;
    stroke: #242424;
    fill: transparent;
    margin-left: 8px;
}

.give-rating {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    border: 1px solid #F4F4F4;
    background: #242424;
    color: #F4F4F4;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.give-rating:hover,
.give-rating:focus {
    background: #F4F4F4;
    color: #242424;
}

.modal-x-button {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background-color: none;
    stroke: none;
    color: none;
    background-color: transparent;
}
.modal-x-button:hover,
.modal-x-button:active{
    fill: #F4F4F4;
}
.exercise-modal-button__remove {
    max-height: 42px;
    border-radius: 30px;
    border: 1px solid transparent;
    letter-spacing: -0.02em;

    background-color: #f4f4f4;
    color: var(#242424);
    transition: all var(--transition);
    width: 235px;
    height: 48px;
    margin-left: 30px;
}
.exercise-modal-button__remove-icon {
    width: 18px;
    height: 18px;
    stroke: var(#242424);
    fill: transparent;
}

.exercise-modal-button__remove:hover .exercise-modal-button__remove-icon,
.exercise-modal-button__remove:focus .exercise-modal-button__remove-icon {
    fill: transparent;
    stroke: #f4f4f4;
}

 @media screen and (min-width: 768px) {
    .container-modal {
        max-width: 704px;
        border-radius: 20px;
        background: #242424;
        padding-top: 32px;
        
    }
.modal-describtion-container{
 width: 704px;
 margin-right: 20px;


 display: flex;
justify-content: space-between;
}

.exercise-list__img{
    width: 270px;
    margin-right: 32px;
    
}

.description {
    padding-top: 16px;
    margin-right: 20px;
}
.line {
  width: 342px;
}
}

/** ======== DESKTOP ======== */

@media screen and (min-width: 1280px) {
    .modal-exercise {
        max-width: 708px;
    }}