.container {
    max-width: 335px;
    background-color: #242424;
    margin: auto;
    border-radius: 20px;
    height: 357px;
    padding: 40px 20px;
    position: relative;

    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.close-modal-btn {
    background: none;
    border: none;
    position: absolute;
    left: 304px;
    top: 21px;
    fill: #F4F4F4;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    fill: #111;
}

.button_icon {
    width: 10px;
    height: 10px;
}

/* rating stars */

.rating-text {
    color: rgba(244, 244, 244, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.rating {
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    color: rgba(244, 244, 244, 1);
    margin-top: 8px;
    line-height: 0.75;
    
}

.rating__body {
position: relative;

}

.rating__body::before {
    display: block;
    content: "★★★★★";
}

.rating__active {
position: absolute;
width: 0%;
height: 100%;
top: 0;
left: 0;
overflow: hidden;
}

.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #EEA10C;
}

.rating__items {
display: flex;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;

}

.rating__item {
flex: 0 0 20%;
height: 100%;
opacity: 0;
cursor: pointer;
}

.rating__value {
padding-right: 2px;
font-size: 12px;
}
/* rating inputs */

.rating-form {
    margin-top: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

   
}


.rating-form-input-email {
    width: 295px;
    background-color: inherit;
    border: 1px solid;
    border-color: rgba(244, 244, 244, 1);
    border-radius: 30px;
    padding: 12px 248px 12px 14px;
    color: rgba(244, 244, 244, 0.6);
}

.rating-form-input-comment {
    width: 295px;
    height: 93px;
    background-color: inherit;
    border: 1px solid;
    border-color: rgba(244, 244, 244, 1);
    border-radius: 15px;
    padding: 12px 194px 63px 14px;
    color: rgba(244, 244, 244, 0.6);
}

.form-button {
    width: 295px;
    border-radius: 30px;
    padding: 12px 131px 12px 131px;
    border: none;
    margin-top: 10px;
}


/* tablet version */

@media screen and (min-width: 768px) and (max-width: 1279px) {


    .container {
        max-width: 430px;
        background-color: #242424;
        margin: auto;
        border-radius: 20px;
        height: 412px;
        padding: 40px 40px;
        position: relative;
    
        position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    
      padding: 40px;
    
    }
    
    .close-modal-btn {
        background: none;
        border: none;
        position: absolute;
        left: 386px;
        top: 22px;
        fill: #F4F4F4;
        
    }
 
    .button_icon {
        width: 11px;
        height: 11px;
    }
    
    .close-modal-btn:hover,
    .close-modal-btn:focus {
        fill: #111;
    }
    
    /* rating stars */

    .rating-text {
        color: rgba(244, 244, 244, 0.4);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        

    }
    
    
    /* rating inputs */
    
    .rating-form {
        margin-top: 32px;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
    
       
    }
    
    
    .rating-form-input-email {
        width: 350px;
        padding: 12px 298px 12px 14px;
    }
    
    .rating-form-input-comment {
        width: 350px;
        height: 106px;
        padding: 12px 237px 70px 14px;
    }
    
    .form-button {
        width: 350px;
        padding: 12px 157px 12px 157px;
        margin-top: 16px;
    }
    


}


/*  Desktop version */

@media screen and (min-width: 1280px) {
   
    .container {
        max-width: 430px;
        background-color: #242424;
        margin: auto;
        border-radius: 20px;
        height: 412px;
        padding: 40px 40px;
        position: relative;
    
        position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    
      padding: 40px;
    
    }
    
    .close-modal-btn {
        background: none;
        border: none;
        position: absolute;
        left: 386px;
        top: 22px;
        fill: #F4F4F4;
        
    }
 
    .button_icon {
        width: 11px;
        height: 11px;
    }
    
    .close-modal-btn:hover,
    .close-modal-btn:focus {
        fill: #111;
    }
    
    /* rating stars */

    .rating-text {
        color: rgba(244, 244, 244, 0.4);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        

    }
    
    
    /* rating inputs */
    
    .rating-form {
        margin-top: 32px;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
    
       
    }
    
    
    .rating-form-input-email {
        width: 350px;
        padding: 12px 298px 12px 14px;
    }
    
    .rating-form-input-comment {
        width: 350px;
        height: 106px;
        padding: 12px 237px 70px 14px;
    }
    
    .form-button {
        width: 350px;
        padding: 12px 157px 12px 157px;
        margin-top: 16px;
    }
    

}


