

.quote-info-block {
  width: 335px;
  height: 119px;
  background-color: #fff;
  border-radius: 20px;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
}

.quote-info-icon {
  margin: 0;
  margin-bottom: 15px;
  /* width: 20px;
  height: 20px; */
  background-color: #fff;
  /* border-radius: 50%;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px; */
  /* padding-top: 20px; */
}
.icon-dumbbell {
  margin: 0;
  /* margin-top: 40px;
  margin-bottom: 15px; */
  width: 20px;
  height: 20px;
  fill: #242424;


}
.quote-info-title {
  margin: 0;
  color: #242424;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 6px;
}
.quote-info-text {

  padding: 0 ;

}
.quote-info-content {
  color: rgba(36, 36, 36, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;

}

.quote-content-text {
  display: none;
  /* color: #242424;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin: 0;
  min-width: 245px;
  height: 105px;
  padding-right: 20px; */
}

.quote-imeges-favorites {
  background-image: url(../img/women-quote-imeges-favorites-mob.jpg);
  width: 335px;
  height: 119px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: none;
}
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .quote-imeges {
        background-image: url(../img/women-quote-imeges-favorites-mob2x.jpg);
        background-size: 335px 119px;

      }
    }

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }

}

@media screen  and (min-width: 768px){
  .container {
    width: 768px;
  }
  .quote {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
  }

  .quote-block {
    margin-right: 16px;
    width: 400px;
    height: 249px;
    margin-bottom: 32px;

  }
  .quote-block-markup {
    padding: 0;
    padding-right: 0;


  }
  .quote-icon-runner {
    margin-top: 40px;
    margin-left: 40px;
  }
  .quote-icon-quotes {
    margin-top: 40px;
    margin-right: 40px;
    justify-content: flex-end;
    margin-left: 43px;
  }

  .quote-text {
    margin-top: 40px;
    font-size: 24px;
    line-height: 1.33;
  }
  .quote-imeges {
    background-image: url(../img/women-tabl.jpg);
    padding-right: 0;
    width: 288px;

  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .quote-imeges {
        background-image: url(../img/women-tabl-2x.jpg);
        background-size: 100% ;

      }
    }

  .js-quote {
    padding-left: 90px;
  }
  .js-quote-text {
    width: 270px;
    height: 89px;
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440pxpx;
  }
  .quote {
    width: 1440pxpx;
    row-gap: 32px;
    display: block;
  }
  .quote-block {
    margin-right: 32px;
    width: 444px;
    height: 230px;
    margin-bottom: 32px;
  }
  .quote-block-markup {

  }
  .quote-icon-quotes {
    margin-left: 67px;

  }
  .quote-text {
    padding-left: 16px;
  }
  .quote-imeges {
    background-image: url(./img/women-desktop.jpg);
    padding-right: 0;
    width: 444px;
    height: 242px;
    margin-bottom: 32px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .quote-imeges {
        background-image: url(../img/women-desktop-2x.jpg);

      }
    }

  .quote-info-block {
    width: 444px;
    height: 315px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    margin-bottom: 80px;
  }
  .quote-info-icon {
    margin-top: 40px;
    margin-left: 40px;
    width: 32px;
  }

  .quote-info-title {
    color: #242424;
    font-size: 24px;
    line-height: 1.33;
    padding-bottom: 6px;

  }
  .quote-info-text {

    padding: 0;
    margin-top: 40px;
    margin-left: 16px;
  }

  .quote-content-text {
    width: 314px;
    height: 163px;

    color: #242424;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    min-width: 314px;
    height: 163px;
    padding: 0;
  }

} */

.quote {
  background-color: #F4F4F4;
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}


.quote-block{
  width: 335px;
  height: 188px;
  background-color: #242424;
  border-radius: 20px;
  margin-bottom: 20px;
  display: block;
}
.quote-block-markup {
  padding-top: 20px;
  display: flex;
}

.js-quote {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  padding-left: 72px;
  padding-top: -10px;
  height: 136px;

  display: block;
  justify-content: space-between;
  align-items: flex-end;
}
.js-quote-text {
  color: rgba(244, 244, 244, 0.60);
  width: 243px;
  height: 88px;
  margin-bottom: 16px;


}
.js-quote-autor {
  color: #F4F4F4;
}

.quote-icon-runner {
  fill: #F4F4F4;
  height: 32px;
  margin-left: 20px;
}

.quote-icon-quotes {
  height: 20px;
}

.quote-text {
  width: 243px;

  padding-left: 18px;
  color: #F4F4F4;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}


.quote-imeges {
  background-image: url(../img/women-mobil.jpg);
  width: 335px;
  height: 242px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: none;
}
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .quote-imeges {
        background-image: url(../img/women-mobil-2x.jpg);
        background-size: 335px 242px;

      }
    }

.quote-info-block {
  width: 335px;
  height: 203px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  margin-bottom: 80px;
}

.quote-info-icon {
  width: 100%;
  height: 32px;
  background-color: #242424;
  border-radius: 50%;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;


}
.icon-dumbbell {
  width: 20px;
  height: 20px;
  fill: #F4F4F4;
  justify-content: center;
}
.quote-info-title {
  margin: 0;
  color: #242424;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 4px;

}
.quote-info-text {
  padding-top: 20px;
  padding-left: 18px;

}
.quote-info-content {
  color: rgba(36, 36, 36, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 16px;
}

.quote-content-text {
  overflow: hidden;
  color: #242424;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin: 0;
  min-width: 245px;
  height: 105px;
  padding-right: 20px;


}

.quote-imeges-favorites {
  display: none;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }

}

@media screen  and (min-width: 768px){
  .container {
    width: 768px;
  }
  .quote {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
  }

  .quote-block {
    margin-right: 16px;
    width: 400px;
    height: 249px;
    margin-bottom: 32px;

  }
  .quote-block-markup {
    padding: 0;
    padding-right: 0;


  }
  .quote-icon-runner {
    margin-top: 40px;
    margin-left: 40px;
  }
  .quote-icon-quotes {
    margin-top: 40px;
    margin-right: 40px;
    justify-content: flex-end;
    margin-left: 43px;
  }

  .quote-text {
    margin-top: 40px;
    font-size: 24px;
    line-height: 1.33;
  }
  .quote-imeges {
    background-image: url(../img/women-tabl.jpg);
    padding-right: 0;
    width: 288px;

  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .quote-imeges {
        background-image: url(../img/women-tabl-2x.jpg);
        background-size: 100% ;

      }
    }

  .js-quote {
    padding-left: 90px;
  }
  .js-quote-text {
    width: 270px;
    height: 89px;
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440pxpx;
  }
  .quote {
    width: 1440pxpx;
    row-gap: 32px;
    display: block;
  }
  .quote-block {
    margin-right: 32px;
    width: 444px;
    height: 230px;
    margin-bottom: 32px;
  }
  .quote-block-markup {

  }
  .quote-icon-quotes {
    margin-left: 67px;

  }
  .quote-text {
    padding-left: 16px;
  }
  .quote-imeges {
    background-image: url(./img/women-desktop.jpg);
    padding-right: 0;
    width: 444px;
    height: 242px;
    margin-bottom: 32px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .quote-imeges {
        background-image: url(../img/women-desktop-2x.jpg);
        background-size: 100%
        /* background-size: 444px 242px; */

      }
    }

  .quote-info-block {
    width: 444px;
    height: 315px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    margin-bottom: 80px;
  }
  .quote-info-icon {
    margin-top: 40px;
    margin-left: 40px;
    width: 32px;
  }

  .quote-info-title {
    color: #242424;
    font-size: 24px;
    line-height: 1.33;
    padding-bottom: 6px;

  }
  .quote-info-text {

    padding: 0;
    margin-top: 40px;
    margin-left: 16px;
  }

  .quote-content-text {
    width: 314px;
    height: 163px;

    color: #242424;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    min-width: 314px;
    height: 163px;
    padding: 0;
  }

}
.quote-imeges-favorites{
  display: none;
}
