#toTopBtn {
    position: fixed;
    font-size: 28px;
    transition: font-size 0.2s ease-in-out;
    right: 50px;
    bottom: 50px;
    background-color: rgba(0, 123, 255, 0.5);
    color: #fff;
    box-shadow: 0 0 30px rgba(240, 99, 64, 0.3);
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 12px 16px;
    text-align: center;
    
    /* line-height: 70px; */

    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toTopBtn:hover {
background-color: rgba(0, 123, 255, 0.9);
font-size: 36px;
}

#toTopBtn:active {
    background-color: #0056b3;
}

#toTopBtn.shown {
    opacity: 1;
    pointer-events: auto;
}

#toTopBtn:not(.shown) {
    opacity: 0;
    pointer-events: none;
}

#toTopBtn::before {
    content: "⇧";
    }