/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./exercise-filter.css');
@import url('./categories.css');
@import url('./quote.css');
@import url('./modal-exercise.css');
@import url('./modal-rating.css');
@import url('./footer.css');
@import url('./favorites-block.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@font-face {
  font-family: 'Neue Montreal', sans-serif;
  src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Regular.woff') format('woff'),
    url('../fonts/NeueMontreal-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Italic.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Italic.woff') format('woff'),
    url('../fonts/NeueMontreal-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

.common-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1440px;
  width: calc((100% - 32px) / 1);
  height: 800px;
  padding: 0;
  background-color: #f4f4f4;
  border: none;
}

.favorites-block-btn {
  width: 265px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 60px;
  background: #242424;
}

.title-favorites {
  color: #242424;
  font-family: Neue Montreal;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.88px;
}

.btn-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
}

.btn-text-home {
  color: #f4f4f4;
}

.btn-text-favorites {
  background-origin: padding-box #f4f4f4;
}

.logo {
  width: 131.528px;
  height: 14px;
}
